.restaurant {
  h2 {
    font-weight: lighter;
    font-size: 25;
    font-family: Helvetica;
    margin-bottom: 30px;
  }

  h4 {
    font-weight: lighter;
    font-size: 15px;
    font-family: Helvetica;
  }
}
