
<%= render 'navbar' %>

<div class="container home">
  <div class="row">
    <div class='col-xs-12 text-center'>
      <h1>Restaurants</h1>
    </div>
  </div>

  <div class="row">
    <% @restaurants.each do |restaurant| %>
      <div class="col-xs-12 col-sm-4">
        <div class="restaurant_card">
          <%= render 'restaurant_card', restaurant: restaurant %>
        </div>
      </div>
    <% end %>
  </div>
</div>
