<%= render 'navbar' %>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1> What did you think about <%= @restaurant.name %> ?</h1>
    </div>
  </div>
</div>

<%= render 'formreview' %>

